#signin
    //- Userのサインインフォーム
    .container
        .col-sm-6.col-sm-offset-3
         h3  SignIn

         alert(
            :show.sync="alertProp.show",
            :type="alertProp.type",
            dismissable
         )
             span {{alertProp.message}}

         form
             bs-input(
                name="email",
                type="email",
                required,
                :error="'Insert your email'",
                :value.sync="user.email",
             )
                div(slot="label") email

             bs-input(
                 name="password",
                 type="password",
                 required,
                 :error="'Insert your password'",
                 :value.sync="user.password",
                 minLength="6"
             )
                div(slot="label") password

             //- 入力値がUserのvalidateionを通過する場合のみ押せるようにする
             button.form-control.btn.btn-primary(
                 type="button",
                 :disabled="!isValidFormData()",
                 @click="transitionHome()"
             ) SignIn
