#signin
    v-container
        v-row
            v-col(xs3)
            v-col(xs6)
                h1.display-3  SignIn
                v-alert(
                v-model="alertProp.show",
                error,
                dismissible
                )
                    span {{alertProp.message}}

                form
                    v-text-input.form(
                    v-model="user.email"
                    id="email"
                    name="email"
                    label="Email"
                    required
                    type="email"
                    )

                    v-text-input.form(
                    v-model="user.password",
                    label="Password",
                    type="password",
                    required,
                    minLength="6",
                    )

                    //- 入力値がUserのvalidateionを通過する場合のみ押せるようにする
                    v-btn.form(
                    ripple info large block
                    :disabled="!isValidFormData()",
                    @click.native="signIn()"
                    ) SignIn
            v-col(xs3)
