#signin
    //- Userのサインインフォーム
    .inner
        .container(style="margin-top: 20px")
            .col-sm-6.col-sm-offset-3
             h3  SignIn
             alert(
                v-model="alertProp.show",
                :type="alertProp.type",
                dismissable
             )
                 span {{alertProp.message}}

             form
                 bs-input(
                    v-model="user.email",
                    name="email",
                    type="email",
                    :label="'email'",
                    required,
                    :icon="true",
                    :error="'Insert your email'",
                 )

                 bs-input(
                     v-model="user.password",
                     label="password",
                     type="password",
                     required,
                     icon,
                     error="'Insert your password'",
                     minLength="6"
                 )

                 //- 入力値がUserのvalidateionを通過する場合のみ押せるようにする
                 button.form-control.btn.btn-primary(
                     type="button",
                     :disabled="!isValidFormData()",
                     @click="signIn()"
                 ) SignIn
