#signup
    //- ユーザーのSingUpフォーム
    .inner
       .container(style="margin-top: 20px")
            .col-sm-6.col-sm-offset-3
                h3 SignUp

                alert(
                    v-model="alertProp.show",
                    :type="alertProp.type",
                    dismissable
                )
                    span {{alertProp.message}}

                form
                    bs-input(
                        required icon,
                        type="email",
                        label="email",
                        v-model="user.email",
                        error="Insert your email"
                    )
                    bs-input(
                        required icon,
                        label="password",
                        type="password",
                        v-model="user.password",
                        error="Insert password",
                        minLength="6"
                    )
                    bs-input(
                        required icon,
                        label="password-confilm",
                        type="password",
                        v-model="passwordConfilm",
                        error="Don't match password",
                        :match="user.password",
                    )

                    button.form-control.btn.btn-primary(
                        type="button",
                        :disabled="!formValidate()",
                        @click="signUp()"
                    ) SignUp


