#signup
    //- ユーザーのSingUpフォーム
    v-container
        v-row
            v-col(xs3)
            v-col(xs6)
                h1.display-2 SignUp

                v-alert(
                    v-model="alertProp.show",
                    error,
                    dismissable
                )
                    span {{alertProp.message}}

                form(@keyup.enter="signUp()")
                    v-text-input.form(
                        type="email",
                        label="Email",
                        v-model="user.email",
                        error="Insert your email"
                    )
                    v-text-input.form(
                        label="Password",
                        type="password",
                        v-model="user.password",
                        error="Insert password",
                        minLength="6"
                    )
                    v-text-input.form(
                        label="Password-confilm",
                        type="password",
                        v-model="passwordConfilm",
                        error="Don't match password",
                        :match="user.password",
                    )

                    v-btn.form(
                        large info block
                        type="button",
                        :disabled="!formValidate()",
                        @click.native="signUp()"
                    ) SignUp
            v-col(xs3)
